In [2]:
import pandas as pd
import glob
import os

file_path = r'C:\Users\Sanuj\Intership\Car price prediction'
all_files = glob.glob(file_path+'/*.csv')
df_all_file = (pd.read_csv(f, sep=',') for f in all_files)
df_merged   = pd.concat(df_all_file, ignore_index=True)
df_merged.to_csv( "car_price.csv")

In [3]:
df_merged.shape

(11203, 11)

In [4]:
df_merged.head(5)

,Unnamed: 0,Brand,Model,Variant,YOM,Transmission Type,Fuel Type,Kilometers,Owners,Price,Location
0,0,Nissan,Micra,NaN,2016,Manual,Petrol,"47,000 km",1st,"4,50,000",Telengana
1,1,Maruti Suzuki,Swift,NaN,2016,Manual,Diesel,"63,000 km",1st,"6,10,000",Telengana
2,2,Honda,Amaze,NaN,2014,Manual,Diesel,"75,312 km",1st,"4,75,000",Telengana
3,3,2018,Omni,NaN,2018,Manual,Petrol,36000.0 km,1st,"3,00,000",Telengana
4,4,Toyota,Innova Crysta,NaN,2017,Manual,Diesel,"114,500 km",1st,"17,30,000",Telengana

In [5]:
duplicate = df_merged[df_merged.duplicated()]
duplicate

Empty DataFrame
Columns: [Unnamed: 0, Brand, Model, Variant, YOM, Transmission Type, Fuel Type, Kilometers, Owners, Price, Location]
Index: []